{% load static %}
{% static "images" as baseURL %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static '/styles/aboutus_styles.css' %}?v=2">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/AboutUs" class="active">About Us</a></li>
                <li><a href="/ContactUs">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section class="about-container">
        <div class="about-content">
            <h2>Experience Coorg with Us</h2>
            <p>Welcome to Dimpu’s Kitchen, where the heart of Coorg comes alive through its flavors, culture, and experiences!
                <br><br>
				Born and raised in the beautiful hill station of Coorg, I have always been passionate about our rich culinary heritage. Through this platform, I bring you authentic homemade Coorg delicacies, including our famous pork dishes, flavorful curries, and traditional wines—all made with love, just like in a Coorgi home.
				<br><br>
				But Dimpu’s Kitchen is more than just food. We also offer exclusive local products—rare finds that are unique to Coorg and crafted by skilled hands from our homeland. And for those who wish to experience the true essence of this paradise, we provide homestay accommodations, coffee plantation tours, and thrilling riverside activities, making your visit to Coorg unforgettable.
				<br><br>
				Whether you’re here to savor the taste of Coorg or to explore its breathtaking landscapes, Dimpu’s Kitchen welcomes you with open arms. Come, experience the warmth of our traditions, one bite and one adventure at a time!</p>
        </div>
        <div class="about-image">
        </div>
    </section>
    <footer>
        <p>&copy; 2025 Dimpu's Kitchen. All rights reserved.</p>
    </footer>
</body>
</html>
